:root {
  --bg-color: #E4EDF6;
  --title-color: #343c4b;
  --highlight-color: #F8FCFF;
  --shadow-color: #CFDBE6;
  --dark-shadow-color: #8b9aa8;
  --accent-color: #AA394F;
  --primary-color: #34486C;
  --secondary-color: #295cd4;
  --tertiary-color: #325BBF;
  --quaternary-color: #2e58b3;
  --quinary-color: #868a99;
  --text-shadow-color: #2f3b4e3a;

  --outset: 15px 15px 24px var(--shadow-color), -15px -15px 24px var(--highlight-color);
  --outset-thin: 5px 5px 7.5px var(--shadow-color), -5px -5px 7.5px var(--highlight-color);
  --outset-medium: 12px 12px 24px var(--shadow-color), -12px -12px 24px var(--highlight-color);
  --dark-outset-thin: 0px 0px 10px var(--dark-shadow-color);
  --inset-thin: inset 5px 5px 7.5px var(--shadow-color), inset -5px -5px 7.5px var(--highlight-color);
  --dark-inset-thin: inset 0px 0px 5px var(--dark-shadow-color);
  --inset-medium: inset 12px 12px 24px var(--shadow-color), inset -12px -12px 24px var(--highlight-color);
  --inset-button: inset 5px 5px 7.5px var(--quaternary-color), inset -5px -5px 7.5px var(--tertiary-color); 
}

.dark-mode {
  --bg-color: #26292E;
  --title-color: #F8FCFF;
  --highlight-color: #2e343a94;
  --shadow-color: #1d1d1faf;
  --dark-shadow-color: #15181d;
  --primary-color: #295cd4;
  --text-shadow-color: #1117203a;

  --outset: 15px 15px 24px var(--shadow-color), -15px -15px 24px var(--highlight-color);
  --outset-thin: 5px 5px 7.5px var(--shadow-color), -5px -5px 7.5px var(--highlight-color);
  --outset-medium: 12px 12px 24px var(--shadow-color), -12px -12px 24px var(--highlight-color);
  --dark-outset-thin: 0px 0px 10px var(--dark-shadow-color);
  --inset-thin: inset 5px 5px 7.5px var(--shadow-color), inset -5px -5px 7.5px var(--highlight-color);
  --dark-inset-thin: inset 0px 0px 5px var(--dark-shadow-color);
  --inset-medium: inset 12px 12px 24px var(--shadow-color), inset -12px -12px 24px var(--highlight-color);
  --inset-button: inset 5px 5px 7.5px var(--quaternary-color), inset -5px -5px 7.5px var(--tertiary-color); 
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: prompt;
  margin: 0;
  transition: all 0.3s ease, opacity 0.5s ease, padding 0.1s, border 0.1s,
  filter 0s;
} body, html {
  height: 100%;
} body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  padding: 0px 25px;
}

.header {
  z-index: 4;
  position: fixed;
  display: flex;
  padding: 15px 60px;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--bg-color);
  box-shadow: 0 5px 25px var(--shadow-color);
} .logo-area {
  display: flex;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
} .logo {
  height: 22.5px;
} .title {
  color: var(--title-color);
  text-shadow: 5px 5px 10px var(--text-shadow-color);
  font-weight: 600;
  font-size: 35px;
  z-index: 2;
} .dark-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
  height: 30px;
  background-color: var(--shadow-color);
  border-radius: 30px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: var(--dark-inset-thin);
  cursor: pointer;
} .dark-mode-switch {
  aspect-ratio: 1;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50%;
  box-shadow: var(--dark-outset-thin);
  margin-right: 27.5px;
} .dark-mode-switched {
  box-shadow: var(--dark-outset-thin);
  background-color: var(--title-color);
  margin-left: 55px;
} .dark-mode-button-switched {
  box-shadow: var(--dark-inset-thin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  row-gap: 30px;
  width: 450px;
  margin-top: 83px;
}

.gamemode-area {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: var(--outset);
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  column-gap: 15px;
} .gamemode {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  column-gap: 10px;
  background-color: var(--bg-color);
  box-shadow: var(--inset-thin);
  color: var(--quinary-color);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
} .gamemode-chosen {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--outset-thin);
} .gamemode-icon {
  height: 20px;
} .symbol-buttons {
  aspect-ratio: 2/1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: var(--inset-thin);
  overflow: hidden;
} .symbol-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
} .symbol-chosen {
  background-color: var(--primary-color);
  box-shadow: var(--outset-thin);
} .symbol {
  height: 45%;
}

.ttt-cover {
  z-index: 3;
  aspect-ratio: 1;
  background-color: white;
  position: fixed;
  left: 0px;
  border-radius: 40px;
  opacity: 0;
} .ttt-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  row-gap: 15px;
  background-color: var(--bg-color);
  padding: 15px;
  border-radius: 40px;
  box-shadow: var(--outset);
} .ttt-row {
  display: flex;
  column-gap: 15px;
} .ttt-box {
  flex: 1;
  aspect-ratio: 1/1;
  border-radius: 25px;
  border: none;
  background-color: var(--bg-color);
  box-shadow: var(--inset-medium);
} .ttt-box:hover {
  box-shadow: var(--outset-medium);
} .ttt-box-occupied {
  box-shadow: var(--outset-medium);
} .ttt-box-win {
  background-color: var(--primary-color);
  box-shadow: none;
  z-index: 1;
} .ttt-box-loss {
  background-color: var(--accent-color);
  box-shadow: none;
  z-index: 1;
} .icon {
  aspect-ratio: 1/1;
  height: 50%;
} .icon-white {
  filter: brightness(2000%) grayscale(1) saturate(0);
}


.score-area{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  row-gap: 15px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--outset-medium);
  background-color: var(--bg-color);
} .score-board {
  width: 100%;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
} .score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  color: var(--quinary-color);
  flex: 1;
  aspect-ratio: 2/1;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: var(--inset-thin);
  padding: 10px;
} .score-number {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  color: var(--primary-color);
  text-shadow: 2px 2px 3px var(--text-shadow-color);
} .reset-score {
  background-color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
  text-shadow: 2px 2px 10px var(--text-shadow-color);
  box-shadow: var(--inset-button);
  color: white;
  border-style: none;
  border-radius: 15px;
  width: 100%;
  padding: 15px 0px;
  cursor: pointer;
} .reset-score:hover {
  box-shadow: var(--outset-thin);
} .reset-score:active {
  box-shadow: var(--inset-button);
}

@media (max-width: 480px) {
  body {
    align-items: start;
    padding-top: 0px;
  }
  .header {
    padding: 15px 30px;
  }
  .title {
    font-size: 20px;
  }
  .logo {
    height: 14px;
  }
  .container {
    width: 90vw;
    row-gap: 15px;
  }
  .gamemode-area {
    padding: 10px;
    column-gap: 10px;
    border-radius: 25px;
  }
  .gamemode {
    font-size: 11px;
    padding: 10px;
    border-radius: 15px;
  } .gamemode-icon {
    height: 12px;
  } .symbol-buttons {
    border-radius: 15px;
  } .symbol-button {
    border-radius: 15px;
  }
  .ttt-container {
    row-gap: 10px;
    padding: 10px;
    border-radius: 25px;
  }
  .ttt-box {
    border-radius: 15px;
  }
  .ttt-row {
    column-gap: 10px;
  }
  .score-area {
    padding: 10px;
    row-gap: 10px;
    border-radius: 25px;
  }
  .score-board {
    column-gap: 10px;
  }
  .score {
    font-size: 10px;
    border-radius: 15px;
    padding-bottom: 5px;
  }
  .score-number {
    font-size: 25px;
  }
  .reset-score {
    border-radius: 15px;
    font-size: 14px;
    padding: 10px 0px;
  }
}
